html, body {
  width: 300px;
  color: #36404A;
}

p, button, h2 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.tips {
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
}

label, textarea {
  display: block;
  width: 100%;
}

textarea {
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: #FAFBFC;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid transparent;
  line-height: 1.5;
  outline: none;
}

textarea::placeholder {
  color: #CED2D6;
}

textarea:focus {
  border-color: #FFB8B3;
}

.submit {
  display: block;
  width: 100%;
  line-height: 36px;
  border: none;
  background: #fa4b3e;
  text-align: center;
  font-size: 15px;
  border-radius: 6px;
  color: #FFF;
}

.footer {
  font-size: 12px;
  color: #CED2D6;
  margin-top: 20px;
}

.footerText {
  text-align: center;
}
