html, body {
  width: 300px;
  color: #36404A;
}

.form {
  padding: 20px;
}

label, textarea {
  display: block;
  width: 100%;
}

textarea {
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: #FAFBFC;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid transparent;
  line-height: 1.5;
  outline: none;
}

textarea::placeholder {
  color: #CED2D6;
}

textarea:focus {
  border-color: #FFB8B3;
}
